@use "reset";
@use "variables";
@use "placeholders";
@use "mixins";



body {
    background-color: rgb(241, 241, 241);    
    header {
        display: flex;
        margin-left: 187px;
        margin-top: 20px;
        margin-bottom: 50px;
        @include mixins.go-flex(row, space-between, center);

        .nav1 li {
            display: inline;
            margin: 20px;
          }
    }

    .H {
        font-size: variables.$font-size-xl;
    font-weight: 700;
    color: #000000;
    margin-bottom: 27px;
    margin-left: 205px;
    }
  
    main {
      @include mixins.go-flex(row, space-around);
      gap: 50px;
  
      section {
        @extend %widget-size;
        @include mixins.go-flex(column, flex-start, flex-start);
  
        .widget-image {
          width: 100%;
          height: 190px;
          background-image: url("../img/beach2.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          padding-top: 30px;
          padding-left: 40px;
  
          h1 {
            color: variables.$primary-color;
            font-size: variables.$font-size-l;
          }
        }
  
        .widget-description {
          width: 100%;
          height: 170px;
          padding-top: 70px;
          padding-left: 40px;
          background-color: variables.$primary-color;
  
          p,
          span {
            color: variables.$secondary-color;
            font-size: variables.$font-size-s;
          }
  
          p {
            width: 240px;
            line-height: 20px;
            margin-bottom: 14px;
          }
        }
      }
    }

    .middle {
                display: flex;
                height: 1040px;
                width: 1400px;
                flex-wrap: nowrap;

                .div2 {
                    display: flex;

                    .H2 {
                        font-size: variables.$font-size-xl;
                        font-weight: 700;
                        color: #000000;
                        margin: 66px;
                        width:0px;
                    }
            
            
                    .images-left-side {
                        margin-top: 200px;
            
                        .d {
                            display: flex;
                            width: 362px;
                            margin-bottom: 50px;
            
                            .p2 {
                                color: #FFFFFF;
                                font-size: 20px;
                                font-weight: 700;
                                position: absolute;
                                margin: auto;
                                top: 955px;
                left: 500px;
                            }
                            
                            .p1-2 {
                            position: relative;
                            }
            
                            .p1 {
                                width: 750px;
                                height: 430px;
                                display: inline-block;
                                margin-bottom: 70px;
                            }
                        }
                    }
                    
                    
                
                    .images-right-side {
                        height: 835px;
                width: 365px;
                display: inline-block;
                margin-top: 200px;
                margin-left: 70px;
                
                        .i3 {
                            margin-bottom: 130px;
                        }
                    }
                }

        
    } 
}


footer {
    background-color: variables.$bg-color;
    width: 100%;
    height: 201px;
    margin: 0 auto;
    margin-top: 100px;

    div {
        display: inline-block;
        margin-right: 65px;
        margin-left: 66px;
        margin-top: 40px;
        line-height: 200%;

        li {
            color: #818687;
            font-size: 12px;
            font-weight: 700;
        }
    }

     p {
        display: inline-block;
        margin-right: 350px;
        color: #FFFFFF;
        margin-left: 250px;
    }
}
